.Sections{
  width:60%;
  display: flex;  
  flex-direction: row;
  flex-flow: wrap;
  margin: 3rem auto; 
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.TaskLink{
  text-decoration: none;
  color:#201E1F;
  margin:3rem auto;
  border: 1px solid #49BEAA;
  width:10rem;
  height: 10rem;  
  text-align: center;
  cursor: pointer;
  transition: transform .2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.TaskLink:hover{
  transform: scale(1.1);
  background-color: rgb(73, 190, 170, 0.2);
}

.IconSize{
  margin: auto;
  display: block;
  height: 50%;
}



@media(max-width: 500px) {
  .Sections{
    flex-direction: column;
  }
  .Sections div{
    width:90%;
  }
}