.Requests{
  margin: auto;
  margin-top: 4rem;
  padding-left: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.Requests h3{
  width: 40vw;
  text-align: left;
  border-bottom: 1px solid #49BEAA;
}

.UserPicture{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

@media (max-width:800px){
  .Requests h3{
    font-size: 2rem;
  }
}