@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-align: center;
  background-color: #FCFCFC;  
  font-size:2rem;
  color: #201E1F;
  font-family: 'Dancing Script', cursive;
}
