
.WriteDiary{
  width: 60%;
  margin: auto;
  margin-top: 4rem;
  background-color:  rgb(0, 0, 0, 0.1);
  padding-bottom: 4%;
  border-radius: 3px;
}

.DiaryEntry{
  width: 80%;
  height: 59vh;
  outline: none;
  border: none;
  resize: none;
  margin: auto;
  background-attachment: local;
  background-image:
      linear-gradient(to right,  rgb(255, 179, 56, 0.1), transparent 10px),
      linear-gradient(to left,  rgb(255, 179, 56, 0.1), transparent 10px),
      repeating-linear-gradient( rgb(255, 179, 56, 0.5),  rgb(255, 179, 56, 0.5) 30px, #ccc 30px, #ccc 31px,  rgb(255, 179, 56, 0.5) 31px);
  line-height: 2rem;
  padding: 8px 10px;
  font-family:inherit;
  font-size: 1.5rem;
  display: block;
  border-radius: 5px;
}

.PrivacyIconSize{
  padding-top: 1rem;
  height: 2rem;
}

.Paraphernalia{
  padding:3%;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.Paraphernalia input{
  border: none;
  height: 2rem;
  width: 75%;
  /* background-color: rgb(255, 179, 56, 0.5); */
  background-color: inherit;
  border-bottom: 1px solid rgb(255, 179, 56, 0.5);
  font-family: inherit;
  font-size: 2rem;
  justify-content: center;
  text-align: center;
}


.ErrorMessage{
  padding-top: 0.2rem;
  color: #FF5E5B
}
/* TBD responsive design */

@media(max-width:600px){
  .ErrorMessage{
    font-size: 1.5rem;
  }
}